html {
	font-family: 'Open Sans', sans-serif;
	font-size: 14px;
	
}

body, html {
	height: 100%;
	
}

body {
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	color: #FFFFFF;
	margin: 0;
	overflow-x: hidden;
}


h1,
h2,
h3,
h4,
h5,
h6 {
	font-weight: normal;
	margin: 0;
}

button {
	border: 0;
	cursor: pointer;
	color: #FFFFFF;
}

* {
	box-sizing: border-box;
}

ul {
	padding: 0;
	margin: 0;
	list-style: none;
}

ul li {
	padding: 0;
	margin: 0;
	list-style: none;
}

p {
	margin: 0;
	padding: 0;
}

a {
	color: inherit;
	cursor: pointer;
	text-decoration: none;
}

img {
	display: block;
	max-width: 100%;
	max-height: 100%;
}

input {
	color: #FFFFFF;
	border: transparent;
}

.wrapper {
	min-height: 100%;
	display: flex;
	flex-direction: column;

}
.wrapper__content {
	
	min-height: 100%;
	flex: 1;

}

.wrapper__content--main {
	background: url(../../img/1.png) left top 0px no-repeat, url(../../img/2.png) left bottom 20px no-repeat, #001821;
	background-repeat: no-repeat;
	background-size: auto auto;

}


.container {
	margin: 0px auto;
	max-width: 1142px;
	width: 100%;
}



.button {
    background: #F5170E;
    border-radius: 35px;
    font-weight: 700;
    font-size: 14px;
    line-height: 16px;
    text-transform: uppercase;
    padding: 18px 40px;
    }

.button:hover {
	background: #DA0100;
	box-shadow: 0px 2px 4px rgba(218, 1, 0, 0.3);
	border-radius: 35px;
}

.button--light {
	background: #FFFFFF;
	border: 1px solid #F5170E;
	font-weight: 700;
	font-size: 14px;
	line-height: 16px;
	color: #F5170E;
	padding: 18px 40px;
}
	
.button--light:hover {
	background: #F5170E;
	border: 1px solid #F5170E;
	font-weight: 700;
	font-size: 14px;
	line-height: 16px;
	color: #FFFFFF;
		
}

.button--offer {
	background: #FFFFFF;
	border: 1px solid #F5170E;
	font-weight: 700;
	font-size: 14px;
	line-height: 16px;
	color: #F5170E;
	padding: 18px 28px;
	margin: 0px 196px 0px 22px;
}
	
.button--offer:hover {
	background: #F5170E;
	border: 1px solid #F5170E;
	font-weight: 700;
	font-size: 14px;
	line-height: 16px;
	color: #FFFFFF;
		
}

.button--grey {
	background: #8E8E8E;
	color: #FFFFFF;
	margin-right: 15px;
 }
 
 .button--grey:hover {
	background: #2B2B2B;
	color: #FFFFFF;
 }
 
 

.title {
	font-weight: 700;
	font-size: 36px;
	line-height: 42px;
	margin-bottom: 54px;
}