
.footer-container {
    height: 123px;
    background: #001821;

}

.logo--footer {
    display: block;
    position: absolute;
    left: 390px;
    top: 2829px;
    width: 85px;
    height: 36px;
}

.menu--footer {
    position: absolute;
    left: 554px;
    top: 2843px;
}

.menu__item {
    display: inline-block;
    margin-right: 51px;
    font-weight: 400;
    font-size: 14px;
    line-height: 16px;
}

.menu__item:last-child {
    margin-right: 0px;
}

.menu__link:hover {
    color: #DA0100;
}

.social__list {
    position: absolute;
    left: 1092px;
    top: 2833px;
}

.social__item {
    display: inline-block;
    vertical-align: middle;
    margin-right: 6px;
}

.social__item:last-child {
    margin-right: 0px;
}

.social__link {
    display: block;
    width: 36px;
    height: 36px;
}

.social__item--telegram .social__link {
    background: url(../../img/telegram.png);
}

.social__item--vk .social__link {
    background: url(../../img/vk.png);
}

.social__item--fb .social__link {
    background: url(../../img/f.png);
}

.social__item--insta .social__link {
    background: url(../../img/in.png);
}

.social__item--telegram .social__link:hover {
    background: url(../../img/t2.png);
}

.social__item--vk .social__link:hover {
    background: url(../../img/vk2.png);
}

.social__item--fb .social__link:hover {
    background: url(../../img/f2.png);
}

.social__item--insta .social__link:hover {
    background: url(../../img/in2.png);
}

.contacts--footer {
    position: absolute;
    left: 1340px;
    top: 2826px;
    display: block;
}
.contacts__phone--footer {
    font-weight: 400;
    font-size: 26px;
    line-height: 20px;
    font-style: normal;
}

.contacts__info--footer {
    font-weight: 400;
    font-size: 11px;
    line-height: 20px;
    text-align: right;
    color: #9A9A9A;
    font-style: normal;
    margin-bottom: 4px;
}











