
.footer {
    background: #001821;
    display: flex;
}

.container--footer {
    display: flex;
    align-items: center;
    padding: 52px 0px 50px 10px;
    justify-content: space-between;
    width: 1158px;
}


.footer__col {
    display: flex;
    align-items: center;
       
}

.footer__col--right {
    justify-content: flex-end;
    align-items:center;
    
}


.social__item {
    display: inline-flex;
    align-items: center;
    margin-right: 3px;
    margin-top: 2px;
}

.social__item:last-child {
    margin-right: 70px;
}

.social__link {
    width: 36px;
    height: 36px;
}

.social__item--telegram .social__link {
    background: url(../../img/telegram.png);
}

.social__item--vk .social__link {
    background: url(../../img/vk.png);
}

.social__item--fb .social__link {
    background: url(../../img/f.png);
}

.social__item--insta .social__link {
    background: url(../../img/in.png);
}

.social__item--telegram .social__link:hover {
    background: url(../../img/t2.png);
}

.social__item--vk .social__link:hover {
    background: url(../../img/vk2.png);
}

.social__item--fb .social__link:hover {
    background: url(../../img/f2.png);
}

.social__item--insta .social__link:hover {
    background: url(../../img/in2.png);
}

.contacts--footer {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-end;
}



.contacts__phone--footer {
    font-weight: 400;
    font-size: 26px;
    line-height: 20px;
    font-style: normal;
    
}

.contacts__info--footer {
    font-weight: 400;
    font-size: 11px;
    line-height: 20px;
    text-align: right;
    color: #9A9A9A;
    font-style: normal;
    margin-bottom: 4px;
   
}











