.header {
    padding: 16px 0px 0px 11px;
    margin-bottom: 0px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header-main {
    margin-bottom: 123px;
     

 }

 .header__col {
     display: flex;
     align-items: center;
     margin-right: 10px;
     
 }
 .header__col--right {
    justify-content: flex-end;
    

}


.logo {
    width: 95px;
    height: 36px;
    margin-right: 66px;
}

.menu__item {
    display: inline-block;
    margin-right: 51px;
    font-weight: 400;
    font-size: 14px;
    line-height: 16px;
}

.menu__item:last-child {
    margin-right: 0px;
}

.menu__link:hover {
    color: #DA0100;
}

.contacts {
   
    display: block;
}
.contacts__phone {
    font-weight: 400;
    font-size: 26px;
    line-height: 30px;
    font-style: normal;    
}

.contacts__info {
    font-weight: 400;
    font-size: 13px;
    line-height: 10px;
    text-decoration-line: underline;
    text-align: right;
    font-style: normal;
}
