
.hero {
    
    margin-bottom: 234px;
}

.hero__container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    min-height: 350px;
}

.hero__text-section {
    width: 50%;
    margin: 0px 0px 0px 10px;
}


.hero__title {
    font-weight: 700;
    font-size: 72px;
    line-height: 99px;
    margin-bottom: 28px;
}

.hero__subtitle {
    font-weight: 400;
    font-size: 18px;
    line-height: 20px;
    margin-bottom: 52px;
}

